.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.producto-derecha {
    margin-right: 0;
}


.precio-producto {
    font-size: 1.1em;
    margin: 0;
    padding: 5px 0;
}

.imagen-de-producto {
    border: 1px solid black;
}

.h1 {
    text-align: center;
}

.barra {
    width: 100%;
    height: 70px;
    background-color: indigo;
    display: inline-block;
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


body {
    background-image: url(https://img.freepik.com/vector-gratis/marco-vector-perros-sobre-fondo-blanco_53876-127700.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.elemento-de-producto {
    margin: 10px;
    text-align: center;
}

.elementobarra {
    margin-block-end:
}

